* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-color: #202020;
}

.container {
    width: 370px;
    min-height: 500px;
    border: 2px solid black;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.display {
    align-self: stretch;
    min-height: 100px;
    background-color: #1f1f1f;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    color: #ffffff;
}

.result,
.current-computing {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 310px;
}

.current-computing {
    min-height: 20px;
    margin-bottom: 10px;
}

.result {
    min-height: 50px;
    font-weight: bold;
    font-size: 32px;
    word-break: break-word;
}

.clear,
.delete {
    width: 163px;
    height: 50px;
}

.clear {
    background-color: #ffaaaa;
}

.delete {
    background-color: #aaf;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;



}

button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 76px;
    height: 65px;
    background-color: #060606;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;

}

.operation {
    background-color: #131313;
}

.equal {
    background-color: #134841;
}